In [64]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

In [2]:
attack =  pd.read_csv("C:/Users/rajen/Data Analysis/UCL 2021-22 data analysis/attacking.csv")
attempt = pd.read_csv("C:/Users/rajen/Data Analysis/UCL 2021-22 data analysis/attempts.csv")
defend =  pd.read_csv("C:/Users/rajen/Data Analysis/UCL 2021-22 data analysis/defending.csv")
disc = pd.read_csv("C:/Users/rajen/Data Analysis/UCL 2021-22 data analysis/disciplinary.csv")
distri = pd.read_csv("C:/Users/rajen/Data Analysis/UCL 2021-22 data analysis/distributon.csv")
goalkeep = pd.read_csv("C:/Users/rajen/Data Analysis/UCL 2021-22 data analysis/goalkeeping.csv")
goal = pd.read_csv("C:/Users/rajen/Data Analysis/UCL 2021-22 data analysis/goals.csv")
stats =  pd.read_csv("C:/Users/rajen/Data Analysis/UCL 2021-22 data analysis/key_stats.csv")

In [3]:
attack.head()

,serial,player_name,club,position,assists,corner_taken,offsides,dribbles,match_played
0,1,Bruno Fernandes,Man. United,Midfielder,7,10,2,7,7
1,2,Vinícius Júnior,Real Madrid,Forward,6,3,4,83,13
2,2,Sané,Bayern,Midfielder,6,3,3,32,10
3,4,Antony,Ajax,Forward,5,3,4,28,7
4,5,Alexander-Arnold,Liverpool,Defender,4,36,0,9,9

In [6]:
attack.set_index('serial',inplace=True)

In [10]:
attack.drop('index',axis=1,inplace=True)

In [11]:
attack

,player_name,club,position,assists,corner_taken,offsides,dribbles,match_played
serial,,,,,,,,
1,Bruno Fernandes,Man. United,Midfielder,7,10,2,7,7
2,Vinícius Júnior,Real Madrid,Forward,6,3,4,83,13
2,Sané,Bayern,Midfielder,6,3,3,32,10
4,Antony,Ajax,Forward,5,3,4,28,7
5,Alexander-Arnold,Liverpool,Defender,4,36,0,9,9
...,...,...,...,...,...,...,...,...
64,Tolisso,Bayern,Midfielder,1,0,0,0,4
64,Schuurs,Ajax,Defender,1,0,0,0,3
64,Kryvtsov,Shakhtar Donetsk,Defender,1,0,0,0,3
64,Stanišić,Bayern,Defender,1,0,0,0,2
64,Bernardo,Salzburg,Defender,1,0,0,0,2

In [12]:
attack.player_name.nunique()

176

In [13]:
attempt

,serial,player_name,club,position,total_attempts,on_target,off_target,blocked,match_played
0,1,Benzema,Real Madrid,Forward,45,23,13,9,12
1,2,Salah,Liverpool,Forward,42,22,11,9,13
2,3,Mahrez,Man. City,Midfielder,37,18,8,11,12
3,4,Sané,Bayern,Midfielder,33,13,12,8,10
4,5,Lewandowski,Bayern,Forward,31,19,8,4,10
...,...,...,...,...,...,...,...,...,...
541,440,Dina Ebimbe,Paris,Midfielder,1,0,0,1,1
542,440,N'Koudou,Beşiktaş,Midfielder,1,0,0,1,1
543,440,Izquierdo,Club Brugge,Forward,1,0,0,1,1
544,440,Radonjić,Benfica,Forward,1,0,0,1,1
545,440,Agüero,Barcelona,Forward,1,0,0,1,1

In [14]:
attempt.player_name.nunique()

540

In [16]:
attempt.drop_duplicates(subset=['player_name'],keep='first')

,serial,player_name,club,position,total_attempts,on_target,off_target,blocked,match_played
0,1,Benzema,Real Madrid,Forward,45,23,13,9,12
1,2,Salah,Liverpool,Forward,42,22,11,9,13
2,3,Mahrez,Man. City,Midfielder,37,18,8,11,12
3,4,Sané,Bayern,Midfielder,33,13,12,8,10
4,5,Lewandowski,Bayern,Forward,31,19,8,4,10
...,...,...,...,...,...,...,...,...,...
541,440,Dina Ebimbe,Paris,Midfielder,1,0,0,1,1
542,440,N'Koudou,Beşiktaş,Midfielder,1,0,0,1,1
543,440,Izquierdo,Club Brugge,Forward,1,0,0,1,1
544,440,Radonjić,Benfica,Forward,1,0,0,1,1
545,440,Agüero,Barcelona,Forward,1,0,0,1,1

In [24]:
attempt.loc[attempt.duplicated('player_name',False)]

,serial,player_name,club,position,total_attempts,on_target,off_target,blocked,match_played
6,7,Martínez,Inter,Forward,28,7,10,11,8
105,98,Correa,Atlético,Forward,9,3,4,2,10
157,153,Martínez,Ajax,Defender,6,2,4,0,8
291,277,Herrera,Paris,Midfielder,3,2,0,1,6
319,277,Camara,Salzburg,Midfielder,3,0,3,0,8
338,277,Karavaev,Zenit,Defender,3,0,2,1,4
342,277,Karavaev,Dynamo Kyiv,Defender,3,0,1,2,6
369,347,Camara,Young Boys,Defender,2,1,1,0,4
389,347,Danilo,Paris,Midfielder,2,0,2,0,7
437,347,Danilo,Juventus,Defender,2,0,0,2,5
447,440,Correa,Inter,Forward,1,1,0,0,5
494,440,Herrera,Atlético,Midfielder,1,0,1,0,4

In [28]:
attempt.reset_index(drop=True,inplace=True)
attempt.drop('serial',axis=1,inplace=True)

In [29]:
attempt

,player_name,club,position,total_attempts,on_target,off_target,blocked,match_played
0,Benzema,Real Madrid,Forward,45,23,13,9,12
1,Salah,Liverpool,Forward,42,22,11,9,13
2,Mahrez,Man. City,Midfielder,37,18,8,11,12
3,Sané,Bayern,Midfielder,33,13,12,8,10
4,Lewandowski,Bayern,Forward,31,19,8,4,10
...,...,...,...,...,...,...,...,...
541,Dina Ebimbe,Paris,Midfielder,1,0,0,1,1
542,N'Koudou,Beşiktaş,Midfielder,1,0,0,1,1
543,Izquierdo,Club Brugge,Forward,1,0,0,1,1
544,Radonjić,Benfica,Forward,1,0,0,1,1
545,Agüero,Barcelona,Forward,1,0,0,1,1

In [30]:
defend.reset_index(drop=True,inplace=True)
defend.drop('serial',axis=1,inplace=True)

In [31]:
defend.head()

,player_name,club,position,balls_recoverd,tackles,t_won,t_lost,clearance_attempted,match_played
0,Casemiro,Real Madrid,Midfielder,76,31,13,18,19,11
1,Éder Militão,Real Madrid,Defender,76,19,6,13,32,12
2,Reinildo,Atlético,Defender,76,13,6,7,20,10
3,Fabinho,Liverpool,Midfielder,74,23,9,14,8,13
4,Albiol,Villarreal,Defender,73,9,6,3,62,12

In [32]:
distri.reset_index(drop=True,inplace=True)
distri.drop('serial',axis=1,inplace=True)

In [33]:
distri.head()

,player_name,club,position,pass_accuracy,pass_attempted,pass_completed,cross_accuracy,cross_attempted,cross_complted,freekicks_taken,match_played
0,Erokhin,Zenit,Midfielder,98.0,27,26,0,2,0,0,6
1,Eric García,Barcelona,Defender,97.5,203,197,0,0,0,1,4
2,Ulreich,Bayern,Goalkeeper,97.0,32,31,0,0,0,1,1
3,Rugani,Juventus,Defender,96.8,130,122,0,0,0,0,4
4,J. Timber,Ajax,Midfielder,95.8,497,474,0,1,0,14,8

In [34]:
disc.reset_index(drop=True,inplace=True)
disc.drop('serial',axis=1,inplace=True)

In [35]:
disc.head()

,player_name,club,position,fouls_committed,fouls_suffered,red,yellow,minutes_played,match_played
0,João Palhinha,Sporting CP,Midfielder,23,17,2,0,534,6
1,Capoue,Villarreal,Midfielder,19,17,3,1,1046,12
2,Rodri,Man. City,Midfielder,19,4,2,0,842,10
3,Seiwald,Salzburg,Midfielder,19,3,2,0,649,8
4,Balanta,Club Brugge,Midfielder,18,3,4,0,407,5

In [36]:
goalkeep.reset_index(drop=True,inplace=True)
goalkeep.drop('serial',axis=1,inplace=True)

In [37]:
goalkeep.head()

,player_name,club,position,saved,conceded,saved_penalties,cleansheets,punches made,match_played
0,Courtois,Real Madrid,Goalkeeper,61,14,1,5,4,13
1,Rulli,Villarreal,Goalkeeper,41,16,0,3,12,12
2,Vlachodimos,Benfica,Goalkeeper,38,17,1,5,5,10
3,Athanasiadis,Sheriff,Goalkeeper,29,8,0,1,2,5
4,Mignolet,Club Brugge,Goalkeeper,28,20,0,0,1,6

In [38]:
goal.reset_index(drop=True,inplace=True)
goal.drop('serial',axis=1,inplace=True)

In [39]:
goal.head()

,player_name,club,position,goals,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties,match_played
0,Benzema,Real Madrid,Forward,15,11,1,3,0,13,2,3,12
1,Lewandowski,Bayern,Forward,13,8,3,1,1,13,0,3,10
2,Haller,Ajax,Forward,11,3,4,3,1,11,0,1,8
3,Salah,Liverpool,Forward,8,0,8,0,0,7,1,1,13
4,Nkunku,Leipzig,Midfielder,7,3,1,3,0,7,0,0,6

In [43]:
stats.reset_index(drop=True,inplace=True)
#stats.drop('serial',axis=1,inplace=True)

In [50]:
stats

,player_name,club,position,minutes_played,match_played,goals,assists,distance_covered
0,Courtois,Real Madrid,Goalkeeper,1230,13,0,0,64.2
1,Vinícius Júnior,Real Madrid,Forward,1199,13,4,6,133.0
2,Benzema,Real Madrid,Forward,1106,12,15,1,121.5
3,Modrić,Real Madrid,Midfielder,1077,13,0,4,124.5
4,Éder Militão,Real Madrid,Defender,1076,12,0,0,110.4
...,...,...,...,...,...,...,...,...
742,Gil Dias,Benfica,Midfielder,1,1,0,0,0.7
743,Rodrigo Ribeiro,Sporting CP,Forward,1,1,0,0,0.7
744,Cojocari,Sheriff,Defender,1,1,0,0,0.5
745,Maouassa,Club Brugge,Defender,1,1,0,0,0.2
746,Zesiger,Young Boys,Defender,1,1,0,0,-

In [51]:
m = pd.merge(stats,attack,on=['player_name','club','position','match_played','assists'],how='left')

In [54]:
m.head()

,player_name,club,position,minutes_played,match_played,goals,assists,distance_covered,corner_taken,offsides,dribbles
0,Courtois,Real Madrid,Goalkeeper,1230,13,0,0,64.2,NaN,NaN,NaN
1,Vinícius Júnior,Real Madrid,Forward,1199,13,4,6,133.0,3.0,4.0,83.0
2,Benzema,Real Madrid,Forward,1106,12,15,1,121.5,2.0,9.0,18.0
3,Modrić,Real Madrid,Midfielder,1077,13,0,4,124.5,10.0,0.0,8.0
4,Éder Militão,Real Madrid,Defender,1076,12,0,0,110.4,NaN,NaN,NaN

In [59]:
m1 = pd.merge(m,attempt,on=['player_name','club','position','match_played'],how='left')

In [62]:
m2 = pd.merge(m1,defend,on=['player_name','club','position','match_played'],how='left')

In [66]:
m3 = pd.merge(m2,distri,on=['player_name','club','position','match_played'],how='left')

In [69]:
m4 = pd.merge(m3,disc,on=['player_name','club','position','match_played','minutes_played'],how='left')

In [73]:
m5 = pd.merge(m4,goalkeep,on=['player_name','club','position','match_played'],how='left')

In [77]:
m6 = pd.merge(m5,goal,on=['player_name','club','position','match_played','goals'],how='left')

In [78]:
m6.head()

,player_name,club,position,minutes_played,match_played,goals,assists,distance_covered,corner_taken,offsides,dribbles,total_attempts,on_target,off_target,blocked,balls_recoverd,tackles,t_won,t_lost,clearance_attempted,pass_accuracy,pass_attempted,pass_completed,cross_accuracy,cross_attempted,cross_complted,freekicks_taken,fouls_committed,fouls_suffered,red,yellow,saved,conceded,saved_penalties,cleansheets,punches made,right_foot,left_foot,headers,others,inside_area,outside_areas,penalties
0,Courtois,Real Madrid,Goalkeeper,1230,13,0,0,64.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.7,483.0,365.0,0.0,0.0,0.0,27.0,NaN,NaN,NaN,NaN,61.0,14.0,1.0,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Vinícius Júnior,Real Madrid,Forward,1199,13,4,6,133.0,3.0,4.0,83.0,27.0,8.0,10.0,9.0,29.0,11.0,3.0,8.0,0.0,83.1,451.0,377.0,31.0,19.0,6.0,0.0,13.0,24.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,3.0,1.0,0.0,0.0,4.0,0.0,0.0
2,Benzema,Real Madrid,Forward,1106,12,15,1,121.5,2.0,9.0,18.0,45.0,23.0,13.0,9.0,6.0,1.0,1.0,0.0,10.0,83.1,523.0,433.0,20.0,10.0,2.0,4.0,2.0,4.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,11.0,1.0,3.0,0.0,13.0,2.0,3.0
3,Modrić,Real Madrid,Midfielder,1077,13,0,4,124.5,10.0,0.0,8.0,14.0,5.0,3.0,6.0,39.0,9.0,3.0,6.0,4.0,89.8,799.0,723.0,25.0,12.0,3.0,26.0,3.0,8.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Éder Militão,Real Madrid,Defender,1076,12,0,0,110.4,NaN,NaN,NaN,9.0,4.0,5.0,0.0,76.0,19.0,6.0,13.0,32.0,87.5,643.0,563.0,0.0,2.0,0.0,17.0,17.0,16.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
m6.groupby(['club']).agg({
    'conceded':'sum'
}).sort_values('conceded',ascending=False)

                  conceded
club
Club Brugge           20.0
Beşiktaş              19.0
Benfica               17.0
Sporting CP           17.0
Villarreal            16.0
Man. City             16.0
Malmö                 14.0
Leipzig               14.0
Real Madrid           14.0
Liverpool             14.0
Salzburg              14.0
Atalanta              13.0
Young Boys            12.0
Shakhtar Donetsk      12.0
Dynamo Kyiv           11.0
Sheriff               11.0
Paris                 11.0
Dortmund              11.0
Porto                 11.0
Wolfsburg             10.0
Zenit                 10.0
Man. United           10.0
Juventus              10.0
Chelsea               10.0
Atlético              10.0
Milan                  9.0
Barcelona              9.0
LOSC                   8.0
Ajax                   8.0
Inter                  7.0
Bayern                 7.0
Sevilla                5.0