In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',None)

In [3]:
players = pd.read_csv("C:/Users/rajen/Data Analysis/soccer.csv")

In [4]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [10]:
players.market_value > 40

0       True
1       True
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

In [13]:
players[players.market_value > 40]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
96,Eden Hazard,Chelsea,26,LW,1,75.0,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
244,Kevin De Bruyne,Manchester+City,26,AM,1,65.0,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0
245,Sergio Aguero,Manchester+City,29,CF,1,65.0,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
267,Paul Pogba,Manchester+United,24,CM,2,75.0,7435,8.0,19.50%,115,2,France,0,2,12,1,1
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0

In [18]:
players.position

0      LW
1      AM
2      GK
3      RW
4      CB
       ..
460    CM
461    LB
462    RB
463    CF
464    CF
Name: position, Length: 465, dtype: object

In [20]:
players.position.unique()

array(['LW', 'AM', 'GK', 'RW', 'CB', 'RB', 'CF', 'LB', 'DM', 'RM', 'CM',
       nan, 'SS', 'LM'], dtype=object)

In [22]:
players.position.isin(['LB','CB','RB'])

0      False
1      False
2      False
3      False
4       True
       ...
460    False
461     True
462     True
463    False
464    False
Name: position, Length: 465, dtype: bool

In [23]:
players[players.position.isin(['LB','CB','RB'])]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
7,Nacho Monreal,Arsenal,31,LB,3,13.0,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
17,Gabriel Paulista,Arsenal,26,CB,3,13.0,552,5.0,0.10%,45,3,Brazil,0,3,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
458,Angelo Ogbonna,West+Ham,29,CB,3,9.0,247,4.5,1.10%,45,2,Italy,0,4,20,0,0
459,Pablo Zabaleta,West+Ham,32,RB,3,7.0,698,5.0,2.70%,45,3,Argentina,0,5,20,0,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0

In [26]:
players.market_value.between(40,50, inclusive='neither')

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

In [27]:
players[players.market_value.between(40,50, inclusive='neither')]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0

In [28]:
players[players.market_value.between(40,50, inclusive='both')]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
31,Alexandre Lacazette,Arsenal,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
97,Diego Costa,Chelsea,28,CF,1,50.0,4454,10.0,3.00%,196,2,Spain,0,4,5,1,0
102,Thibaut Courtois,Chelsea,25,GK,4,40.0,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
108,N%27Golo Kante,Chelsea,26,DM,2,50.0,4042,5.0,13.80%,83,2,France,0,3,5,1,1
218,Philippe Coutinho,Liverpool,25,AM,1,45.0,2958,9.0,30.80%,171,3,Brazil,0,3,10,1,0
219,Sadio Mane,Liverpool,25,LW,1,40.0,3219,9.5,5.30%,156,4,Senegal,0,3,10,1,1
246,Raheem Sterling,Manchester+City,22,LW,1,45.0,2074,8.0,3.80%,149,1,England,0,2,11,1,0
263,Bernardo Silva,Manchester+City,22,RW,1,40.0,1098,8.0,4.60%,0,2,Portugal,1,2,11,1,0
264,Romelu Lukaku,Manchester+United,24,CF,1,50.0,3727,11.5,45.00%,221,2,Belgium,0,2,12,1,0
265,David de Gea,Manchester+United,26,GK,4,40.0,2126,5.5,26.10%,136,2,Spain,0,3,12,1,0
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
382,Christian Eriksen,Tottenham,25,AM,1,40.0,1130,9.5,12.00%,218,2,Denmark,0,3,17,1,0

In [29]:
players.age <= 25

0      False
1      False
2      False
3      False
4      False
       ...
460     True
461     True
462     True
463     True
464    False
Name: age, Length: 465, dtype: bool

In [32]:
players[players.age <= 25]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
456,Pedro Obiang,West+Ham,25,CM,2,9.0,286,4.5,0.30%,55,2,Spain,0,3,20,0,0
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [37]:
players.position.isin(['LB'])

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461     True
462    False
463    False
464    False
Name: position, Length: 465, dtype: bool

In [45]:
players[(players.position.isin(['LB'])) & (players.age <= 25)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
29,Sead Kolasinac,Arsenal,24,LB,3,15.00,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
54,Brad Smith,Bournemouth,23,LB,3,2.00,297,4.0,3.30%,4,4,Australia,0,2,2,0,0
112,Kenedy,Chelsea,21,LB,3,7.00,566,5.0,0.10%,3,3,Brazil,0,1,5,1,0
128,Jeffrey Schlupp,Crystal+Palace,24,LB,3,8.00,385,5.0,0.30%,47,4,Ghana,0,2,6,0,0
212,Ben Chilwell,Leicester+City,20,LB,3,2.50,288,4.5,0.80%,19,1,England,0,1,9,0,0
236,Alberto Moreno,Liverpool,25,LB,3,10.00,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.00,947,5.0,0.40%,45,1,England,0,2,12,1,0
294,Paul Dummett,Newcastle+United,25,LB,3,3.50,177,4.5,1.00%,0,2,Wales,0,3,13,0,0
298,Massadio Haidara,Newcastle+United,24,LB,3,1.50,114,4.0,0.50%,0,2,France,0,2,13,0,0
328,Matt Targett,Southampton,21,LB,3,3.00,110,4.5,0.20%,12,1,England,0,1,14,0,0
354,Josh Tymon,Stoke+City,18,LB,3,1.00,120,4.5,0.10%,9,1,England,0,1,15,0,0
369,Stephen Kingsley,Swansea,22,LB,3,0.75,168,4.5,0.20%,29,2,Scotland,0,2,16,0,0
389,Ben Davies,Tottenham,24,LB,3,12.00,396,5.5,1.80%,90,2,Wales,0,2,17,1,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.00,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1

In [44]:
players[players.position.isin(['LB'])]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
7,Nacho Monreal,Arsenal,31,LB,3,13.00,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
18,Kieran Gibbs,Arsenal,27,LB,3,10.00,489,5.0,0.50%,45,1,England,0,3,1,1,0
29,Sead Kolasinac,Arsenal,24,LB,3,15.00,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
34,Charlie Daniels,Bournemouth,30,LB,3,3.00,185,5.0,19.80%,134,1,England,0,4,2,0,0
54,Brad Smith,Bournemouth,23,LB,3,2.00,297,4.0,3.30%,4,4,Australia,0,2,2,0,0
62,Gaetan Bong,Brighton+and+Hove,29,LB,3,1.50,97,4.5,0.20%,0,4,Cameroon,0,4,3,0,0
65,Markus Suttner,Brighton+and+Hove,30,LB,3,2.00,23,4.5,0.20%,0,2,Austria,0,4,3,0,0
82,Stephen Ward,Burnley,31,LB,3,1.50,152,4.5,2.50%,91,2,Ireland,0,4,4,0,0
99,Marcos Alonso Mendoza,Chelsea,26,LB,3,25.00,3069,7.0,12.40%,177,2,Spain,0,3,5,1,1
112,Kenedy,Chelsea,21,LB,3,7.00,566,5.0,0.10%,3,3,Brazil,0,1,5,1,0
119,Patrick van Aanholt,Crystal+Palace,26,LB,3,9.00,524,5.5,4.20%,98,2,Netherlands,0,3,6,0,0
128,Jeffrey Schlupp,Crystal+Palace,24,LB,3,8.00,385,5.0,0.30%,47,4,Ghana,0,2,6,0,0
134,Pape Souare,Crystal+Palace,27,LB,3,6.00,186,4.5,0.00%,6,4,Senegal,0,3,6,0,0
138,Leighton Baines,Everton,32,LB,3,12.00,491,6.0,10.00%,135,1,England,0,5,7,0,0
168,Chris Lowe,Huddersfield,28,LB,3,1.50,84,4.5,0.70%,0,2,Germany,0,4,8,0,0
175,Scott Malone,Huddersfield,26,LB,3,0.75,81,4.5,0.10%,0,1,England,0,3,8,0,0
196,Christian Fuchs,Leicester+City,31,LB,3,6.00,417,5.0,3.50%,104,2,Austria,0,4,9,0,0
212,Ben Chilwell,Leicester+City,20,LB,3,2.50,288,4.5,0.80%,19,1,England,0,1,9,0,0
236,Alberto Moreno,Liverpool,25,LB,3,10.00,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
251,Aleksandar Kolarov,Manchester+City,31,LB,3,10.00,633,5.5,1.10%,95,2,Serbia,0,4,11,1,0
270,Daley Blind,Manchester+United,27,LB,3,22.00,867,5.5,1.20%,98,2,Netherlands,0,3,12,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.00,947,5.0,0.40%,45,1,England,0,2,12,1,0
294,Paul Dummett,Newcastle+United,25,LB,3,3.50,177,4.5,1.00%,0,2,Wales,0,3,13,0,0
298,Massadio Haidara,Newcastle+United,24,LB,3,1.50,114,4.0,0.50%,0,2,France,0,2,13,0,0
312,Ryan Bertrand,Southampton,27,LB,3,20.00,578,5.5,11.20%,123,1,England,0,3,14,0,0
328,Matt Targett,Southampton,21,LB,3,3.00,110,4.5,0.20%,12,1,England,0,1,14,0,0
336,Erik Pieters,Stoke+City,28,LB,3,7.00,134,5.0,1.30%,103,2,Netherlands,0,4,15,0,0
354,Josh Tymon,Stoke+City,18,LB,3,1.00,120,4.5,0.10%,9,1,England,0,1,15,0,0
363,Martin Olsson,Swansea,29,LB,3,5.00,458,5.0,0.30%,52,2,Sweden,0,4,16,0,0
369,Stephen Kingsley,Swansea,22,LB,3,0.75,168,4.5,0.20%,29,2,Scotland,0,2,16,0,0
389,Ben Davies,Tottenham,24,LB,3,12.00,396,5.5,1.80%,90,2,Wales,0,2,17,1,0
390,Danny Rose,Tottenham,27,LB,3,28.00,848,6.5,0.60%,84,1,England,0,3,17,1,0
403,Jose Holebas,Watford,33,LB,3,2.00,345,5.0,0.60%,87,2,Greece,0,5,18,0,0
455,Aaron Cresswell,West+Ham,27,LB,3,12.00,380,5.0,1.30%,60,1,England,0,3,20,0,0
461,Arthur Masuaku,West+Ham,23,LB,3,7.00,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1

In [47]:
players[(players.position.isin(['LB'])) & (players.age <= 25) & (players.market_value >= 10)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
29,Sead Kolasinac,Arsenal,24,LB,3,15.0,618,6.0,6.90%,0,2,Bosnia,1,2,1,1,0
236,Alberto Moreno,Liverpool,25,LB,3,10.0,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.0,947,5.0,0.40%,45,1,England,0,2,12,1,0
389,Ben Davies,Tottenham,24,LB,3,12.0,396,5.5,1.80%,90,2,Wales,0,2,17,1,0

In [54]:
players[(players.position.isin(['LB'])) & 
        (players.age <= 25) &
        (players.market_value >= 10) &
        ~(players.club.isin(['Arsenal','Tottenham']))
       ]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
236,Alberto Moreno,Liverpool,25,LB,3,10.0,397,4.5,0.30%,8,2,Spain,0,3,10,1,0
281,Luke Shaw,Manchester+United,22,LB,3,20.0,947,5.0,0.40%,45,1,England,0,2,12,1,0

In [57]:
arsenal_players = players.club == 'Arsenal'

In [60]:
arsenal_rb = players[arsenal_players].position == 'RB'

In [65]:
arsenal_rb

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27     True
28    False
29    False
30    False
31    False
Name: position, dtype: bool

In [69]:
p = players[arsenal_players]

In [71]:
p[arsenal_rb]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
27,Carl Jenkinson,Arsenal,25,RB,3,5.0,561,4.5,0.40%,2,1,England,0,3,1,1,0

In [72]:
chelsea_players = players.club == 'Chelsea'

In [74]:
chel = players[chelsea_players]

In [76]:
pos = chel.position == 'GK'

In [77]:
chel[pos]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
102,Thibaut Courtois,Chelsea,25,GK,4,40.0,1260,5.5,18.50%,141,2,Belgium,0,3,5,1,0
109,Willy Caballero,Chelsea,35,GK,4,1.5,542,5.0,0.20%,64,3,Argentina,0,6,5,1,0

In [78]:
national = players.nationality == 'England'

In [81]:
national

0      False
1      False
2      False
3       True
4      False
       ...
460    False
461    False
462     True
463     True
464    False
Name: nationality, Length: 465, dtype: bool

In [83]:
m = players.market_value.mean()

In [84]:
m

11.125649350649349

In [97]:
val = players.market_value > m*2

In [86]:
val

0       True
1       True
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: market_value, Length: 465, dtype: bool

In [87]:
views = players.page_views > 4000

In [90]:
n_sig  = players.new_signing == 1

In [92]:
n_con = views ^ n_sig

In [98]:
players[national & val & n_con]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
256,John Stones,Manchester+City,23,CB,3,35.0,1078,5.5,2.30%,59,1,England,0,2,11,1,1
380,Dele Alli,Tottenham,21,CM,2,45.0,4626,9.5,38.60%,225,1,England,0,1,17,1,0
381,Harry Kane,Tottenham,23,CF,1,60.0,4161,12.5,35.10%,224,1,England,0,2,17,1,0

In [6]:
chelsea_pl = players.club == 'Chelsea'

In [7]:
chelsea_pl

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Name: club, Length: 465, dtype: bool

In [9]:
young = players.age <= 23

In [11]:
players[chelsea_pl & young]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
110,Michy Batshuayi,Chelsea,23,CF,1,25.0,1162,8.5,1.60%,48,2,Belgium,0,2,5,1,1
111,Kurt Zouma,Chelsea,22,CB,3,15.0,723,5.5,0.80%,15,2,France,0,2,5,1,0
112,Kenedy,Chelsea,21,LB,3,7.0,566,5.0,0.10%,3,3,Brazil,0,1,5,1,0
115,Tiemoue Bakayoko,Chelsea,22,DM,2,16.0,1011,5.0,1.60%,0,2,France,1,2,5,1,0

In [15]:
players.loc[chelsea_pl & young, ['name','position','market_value']]

                 name position  market_value
110   Michy Batshuayi       CF          25.0
111        Kurt Zouma       CB          15.0
112            Kenedy       LB           7.0
115  Tiemoue Bakayoko       DM          16.0

In [19]:
p_cols = players.columns.str.startswith('p')
p_cols

array([False, False, False,  True,  True, False,  True, False, False,
       False, False, False, False, False, False, False, False])

In [21]:
players.loc[chelsea_pl & young, p_cols]

    position  position_cat  page_views
110       CF             1        1162
111       CB             3         723
112       LB             3         566
115       DM             2        1011

In [22]:
players.name

0           Alexis Sanchez
1               Mesut Ozil
2                Petr Cech
3             Theo Walcott
4        Laurent Koscielny
              ...
460    Edimilson Fernandes
461         Arthur Masuaku
462              Sam Byram
463        Ashley Fletcher
464           Diafra Sakho
Name: name, Length: 465, dtype: object

In [23]:
pl_name = ['Theo Walcott','Mesut Ozil','Alexis Sanchez']

In [25]:
attri = ['age','position','market_value']

In [28]:
players.set_index('name').melt(pl_name,attri)

KeyError: "The following 'id_vars' are not present in the DataFrame: ['Alexis Sanchez', 'Mesut Ozil', 'Theo Walcott']"

In [72]:
ply = players.set_index('name')

In [34]:
ply

,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
name,,,,,,,,,,,,,,,,
Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [45]:
ply.index

Index(['Alexis Sanchez', 'Mesut Ozil', 'Petr Cech', 'Theo Walcott',
       'Laurent Koscielny', 'Hector Bellerin', 'Olivier Giroud',
       'Nacho Monreal', 'Shkodran Mustafi', 'Alex Iwobi',
       ...
       'Aaron Cresswell', 'Pedro Obiang', 'Sofiane Feghouli', 'Angelo Ogbonna',
       'Pablo Zabaleta', 'Edimilson Fernandes', 'Arthur Masuaku', 'Sam Byram',
       'Ashley Fletcher', 'Diafra Sakho'],
      dtype='object', name='name', length=465)

In [49]:
ply.loc[pl_name,attri]

                age position  market_value
name
Theo Walcott     28       RW          20.0
Mesut Ozil       28       AM          50.0
Alexis Sanchez   28       LW          65.0

In [53]:
players.sort_values('market_value',ascending =False)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
96,Eden Hazard,Chelsea,26,LW,1,75.00,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
267,Paul Pogba,Manchester+United,24,CM,2,75.00,7435,8.0,19.50%,115,2,France,0,2,12,1,1
0,Alexis Sanchez,Arsenal,28,LW,1,65.00,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
244,Kevin De Bruyne,Manchester+City,26,AM,1,65.00,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0
245,Sergio Aguero,Manchester+City,29,CF,1,65.00,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,Joel Castro Pereira,Manchester+United,21,GK,4,0.10,395,4.0,1.00%,6,2,Portugal,0,1,12,1,0
113,Eduardo Carvalho,Chelsea,34,LW,1,0.05,467,5.0,0.10%,0,2,Portugal,0,6,5,1,1
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [54]:
ply.sort_index(inplace =True)

In [56]:
ply

,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
name,,,,,,,,,,,,,,,,
Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
Abdoulaye Doucoure,Watford,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Yohan Cabaye,Crystal+Palace,31,CM,2,15.0,456,5.5,1.40%,91,2,France,0,4,6,0,0
YounÃ¨s Kaboul,Watford,31,CB,3,2.5,263,4.5,0.10%,57,2,France,0,4,18,0,1
Ã‰tienne Capoue,Watford,29,DM,2,9.0,412,5.5,8.00%,131,2,France,0,4,18,0,0
Ã€ngel Rangel,Swansea,34,RB,3,1.0,137,4.0,18.80%,26,2,Spain,0,6,16,0,0
Åukasz FabiaÅ„ski,Swansea,32,GK,4,9.0,285,4.5,6.20%,116,2,Poland,0,5,16,0,0

In [57]:
ply.reset_index()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Aaron Cresswell,West+Ham,27,LB,3,12.0,380,5.0,1.30%,60,1,England,0,3,20,0,0
1,Aaron Lennon,Everton,30,RW,1,5.0,504,5.5,0.20%,22,1,England,0,4,7,0,0
2,Aaron Mooy,Huddersfield,26,CM,2,5.0,588,5.5,2.50%,0,4,Australia,0,3,8,0,0
3,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
4,Abdoulaye Doucoure,Watford,24,CM,2,6.0,124,5.0,0.00%,38,2,France,0,2,18,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Yohan Cabaye,Crystal+Palace,31,CM,2,15.0,456,5.5,1.40%,91,2,France,0,4,6,0,0
461,YounÃ¨s Kaboul,Watford,31,CB,3,2.5,263,4.5,0.10%,57,2,France,0,4,18,0,1
462,Ã‰tienne Capoue,Watford,29,DM,2,9.0,412,5.5,8.00%,131,2,France,0,4,18,0,0
463,Ã€ngel Rangel,Swansea,34,RB,3,1.0,137,4.0,18.80%,26,2,Spain,0,6,16,0,0
464,Åukasz FabiaÅ„ski,Swansea,32,GK,4,9.0,285,4.5,6.20%,116,2,Poland,0,5,16,0,0

In [58]:
players.head()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0

In [63]:
players.reindex(index=[0,1,2,3],columns = ['age','name','market_value'])

   age            name  market_value
0   28  Alexis Sanchez          65.0
1   28      Mesut Ozil          50.0
2   35       Petr Cech           7.0
3   28    Theo Walcott          20.0

In [66]:
list(players.columns.sort_values())

['age',
 'age_cat',
 'big_club',
 'club',
 'club_id',
 'fpl_points',
 'fpl_sel',
 'fpl_value',
 'market_value',
 'name',
 'nationality',
 'new_foreign',
 'new_signing',
 'page_views',
 'position',
 'position_cat',
 'region']

In [74]:
players.reindex(index = [0,4,5,6,7], columns = list(players.columns.sort_values())[:6])

   age  age_cat  big_club     club  club_id  fpl_points
0   28        4         1  Arsenal        1         264
4   31        4         1  Arsenal        1         121
5   22        2         1  Arsenal        1         119
6   30        4         1  Arsenal        1         116
7   31        4         1  Arsenal        1         115

In [75]:
players.age.sort_values()

237    17
354    18
439    18
235    18
274    19
       ..
340    36
150    36
35     37
424    37
136    38
Name: age, Length: 465, dtype: int64

In [81]:
players.loc[players.age.idxmin()]

name            Ben Woodburn
club               Liverpool
age                       17
position                  LW
position_cat               1
market_value             1.5
page_views              1241
fpl_value                4.5
fpl_sel                0.10%
fpl_points                 5
region                     1
nationality            Wales
new_foreign                0
age_cat                    1
club_id                   10
big_club                   1
new_signing                0
Name: 237, dtype: object

In [83]:
new  = players.set_index('club')

In [86]:
new.sort_index()

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Arsenal,Alexis Sanchez,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Arsenal,Mesut Ozil,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Arsenal,Petr Cech,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
Arsenal,Theo Walcott,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
Arsenal,Laurent Koscielny,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West+Ham,Edimilson Fernandes,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
West+Ham,Arthur Masuaku,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
West+Ham,Sam Byram,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
West+Ham,Ashley Fletcher,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
West+Ham,Diafra Sakho,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [87]:
new

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Arsenal,Alexis Sanchez,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Arsenal,Mesut Ozil,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Arsenal,Petr Cech,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
Arsenal,Theo Walcott,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
Arsenal,Laurent Koscielny,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West+Ham,Edimilson Fernandes,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
West+Ham,Arthur Masuaku,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
West+Ham,Sam Byram,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
West+Ham,Ashley Fletcher,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
West+Ham,Diafra Sakho,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [91]:
new.sort_values('market_value',ascending =False)

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Chelsea,Eden Hazard,26,LW,1,75.00,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
Manchester+United,Paul Pogba,24,CM,2,75.00,7435,8.0,19.50%,115,2,France,0,2,12,1,1
Arsenal,Alexis Sanchez,28,LW,1,65.00,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Manchester+City,Kevin De Bruyne,26,AM,1,65.00,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0
Manchester+City,Sergio Aguero,29,CF,1,65.00,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Manchester+United,Joel Castro Pereira,21,GK,4,0.10,395,4.0,1.00%,6,2,Portugal,0,1,12,1,0
Chelsea,Eduardo Carvalho,34,LW,1,0.05,467,5.0,0.10%,0,2,Portugal,0,6,5,1,1
Arsenal,Granit Xhaka,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
Huddersfield,Steve Mounie,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
Leicester+City,Kasper Schmeichel,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [94]:
players

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,3,7.0,199,4.5,0.20%,34,4,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,1,10.0,214,5.5,0.10%,12,4,Senegal,0,3,20,0,0

In [95]:
new.sort_index().sort_values('market_value',ascending = False)

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Chelsea,Eden Hazard,26,LW,1,75.00,4220,10.5,2.30%,224,2,Belgium,0,3,5,1,0
Manchester+United,Paul Pogba,24,CM,2,75.00,7435,8.0,19.50%,115,2,France,0,2,12,1,1
Arsenal,Alexis Sanchez,28,LW,1,65.00,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Manchester+City,Kevin De Bruyne,26,AM,1,65.00,2252,10.0,17.50%,199,2,Belgium,0,3,11,1,0
Manchester+City,Sergio Aguero,29,CF,1,65.00,4046,11.5,9.70%,175,3,Argentina,0,4,11,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Manchester+United,Joel Castro Pereira,21,GK,4,0.10,395,4.0,1.00%,6,2,Portugal,0,1,12,1,0
Chelsea,Eduardo Carvalho,34,LW,1,0.05,467,5.0,0.10%,0,2,Portugal,0,6,5,1,1
Arsenal,Granit Xhaka,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
Huddersfield,Steve Mounie,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
Leicester+City,Kasper Schmeichel,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [97]:
new.sort_values(by=['club','market_value'],ascending=[True,False])

,name,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
club,,,,,,,,,,,,,,,,
Arsenal,Alexis Sanchez,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
Arsenal,Mesut Ozil,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
Arsenal,Alexandre Lacazette,26,CF,1,40.0,1183,10.5,26.50%,0,2,France,1,3,1,1,0
Arsenal,Granit Xhaka,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
Arsenal,Granit Xhaka,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West+Ham,Edimilson Fernandes,21,CM,2,5.0,288,4.5,0.40%,38,2,Switzerland,0,1,20,0,1
West+Ham,Sam Byram,23,RB,3,4.5,198,4.5,0.30%,29,1,England,0,2,20,0,0
West+Ham,Darren Randolph,30,GK,4,2.5,459,4.5,0.40%,69,2,Ireland,0,4,20,0,0
West+Ham,James Collins,33,CB,3,2.0,187,4.5,0.90%,69,2,Wales,0,5,20,0,0
West+Ham,Ashley Fletcher,21,CF,1,1.0,412,4.5,5.90%,16,1,England,0,1,20,0,1

In [6]:
players.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
460    False
461    False
462    False
463    False
464    False
Length: 465, dtype: bool

In [8]:
players[players.duplicated()]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [12]:
players[players.duplicated(subset=['club','age','market_value','position'],keep='last')]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
58,Lewis Dunk,Brighton+and+Hove,25,CB,3,5.0,140,4.5,4.10%,0,1,England,0,3,3,0,0
253,Fernandinho,Manchester+City,32,DM,2,18.0,595,5.0,0.80%,78,3,Brazil,0,5,11,1,0
273,Marcos Rojo,Manchester+United,27,CB,3,18.0,1063,5.5,0.10%,77,3,Argentina,0,3,12,1,0
292,Ciaran Clark,Newcastle+United,27,CB,3,5.0,273,4.5,0.90%,0,2,Ireland,0,3,13,0,0

In [13]:
players[players.duplicated(subset=['club','age','market_value','position'],keep=False)]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
58,Lewis Dunk,Brighton+and+Hove,25,CB,3,5.0,140,4.5,4.10%,0,1,England,0,3,3,0,0
59,Shane Duffy,Brighton+and+Hove,25,CB,3,5.0,243,4.5,0.60%,0,2,Ireland,0,3,3,0,0
253,Fernandinho,Manchester+City,32,DM,2,18.0,595,5.0,0.80%,78,3,Brazil,0,5,11,1,0
260,Fernando,Manchester+City,32,DM,2,18.0,338,4.5,0.40%,18,3,Brazil,0,5,11,1,0
273,Marcos Rojo,Manchester+United,27,CB,3,18.0,1063,5.5,0.10%,77,3,Argentina,0,3,12,1,0
279,Chris Smalling,Manchester+United,27,CB,3,18.0,834,5.5,1.30%,52,1,England,0,3,12,1,0
292,Ciaran Clark,Newcastle+United,27,CB,3,5.0,273,4.5,0.90%,0,2,Ireland,0,3,13,0,0
293,Lascelles,Newcastle+United,27,CB,3,5.0,400,4.5,3.60%,0,1,England,0,3,13,0,0

In [15]:
players[players.duplicated(subset = ['name','age'],keep='last')]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [18]:
players.drop_duplicates().market_value.mean()

11.026252723311545

In [19]:
players.market_value.mean()

11.125649350649349

In [20]:
 players[players.duplicated()]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
11,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
23,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0

In [23]:
players.drop(labels = 11, axis = 0).head(20)

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,1,65.0,4329,12.0,17.10%,264,3,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,1,50.0,4395,9.5,5.60%,167,2,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,4,7.0,1529,5.5,5.90%,134,2,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,1,20.0,2393,7.5,1.50%,122,1,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,3,22.0,912,6.0,0.70%,121,2,France,0,4,1,1,0
5,Hector Bellerin,Arsenal,22,RB,3,30.0,1675,6.0,13.70%,119,2,Spain,0,2,1,1,0
6,Olivier Giroud,Arsenal,30,CF,1,22.0,2230,8.5,2.50%,116,2,France,0,4,1,1,0
7,Nacho Monreal,Arsenal,31,LB,3,13.0,555,5.5,4.70%,115,2,Spain,0,4,1,1,0
8,Shkodran Mustafi,Arsenal,25,CB,3,30.0,1877,5.5,4.00%,90,2,Germany,0,3,1,1,1
9,Alex Iwobi,Arsenal,21,LW,1,10.0,1812,5.5,1.00%,89,4,Nigeria,0,1,1,1,0
10,Granit Xhaka,Arsenal,24,DM,2,35.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
12,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
13,Alex Oxlade-Chamberlain,Arsenal,23,RM,2,22.0,1519,6.0,1.80%,83,1,England,0,2,1,1,0
14,Jack Wilshere,Arsenal,25,CM,2,18.0,1759,5.5,0.00%,61,1,England,0,3,1,1,0
15,Aaron Ramsey,Arsenal,26,CM,2,35.0,1040,7.0,5.10%,56,1,Wales,0,3,1,1,0
16,Francis Coquelin,Arsenal,26,DM,2,15.0,549,4.5,1.70%,52,2,France,0,3,1,1,0
17,Gabriel Paulista,Arsenal,26,CB,3,13.0,552,5.0,0.10%,45,3,Brazil,0,3,1,1,0
18,Kieran Gibbs,Arsenal,27,LB,3,10.0,489,5.0,0.50%,45,1,England,0,3,1,1,0
19,Santi Cazorla,Arsenal,32,CM,2,12.0,943,7.0,0.10%,38,2,Spain,0,5,1,1,0
20,Danny Welbeck,Arsenal,26,CF,1,15.0,1521,7.5,0.50%,37,1,England,0,3,1,1,0

In [24]:
players.drop(labels=['position_cat','region'],axis=1)

,name,club,age,position,market_value,page_views,fpl_value,fpl_sel,fpl_points,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,Alexis Sanchez,Arsenal,28,LW,65.0,4329,12.0,17.10%,264,Chile,0,4,1,1,0
1,Mesut Ozil,Arsenal,28,AM,50.0,4395,9.5,5.60%,167,Germany,0,4,1,1,0
2,Petr Cech,Arsenal,35,GK,7.0,1529,5.5,5.90%,134,Czech Republic,0,6,1,1,0
3,Theo Walcott,Arsenal,28,RW,20.0,2393,7.5,1.50%,122,England,0,4,1,1,0
4,Laurent Koscielny,Arsenal,31,CB,22.0,912,6.0,0.70%,121,France,0,4,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,Edimilson Fernandes,West+Ham,21,CM,5.0,288,4.5,0.40%,38,Switzerland,0,1,20,0,1
461,Arthur Masuaku,West+Ham,23,LB,7.0,199,4.5,0.20%,34,Congo DR,0,2,20,0,1
462,Sam Byram,West+Ham,23,RB,4.5,198,4.5,0.30%,29,England,0,2,20,0,0
463,Ashley Fletcher,West+Ham,21,CF,1.0,412,4.5,5.90%,16,England,0,1,20,0,1
464,Diafra Sakho,West+Ham,27,CF,10.0,214,5.5,0.10%,12,Senegal,0,3,20,0,0

In [26]:
players.shape

(465, 17)

In [28]:
ages = players.age

In [31]:
ages[ages.isna()]

Series([], Name: age, dtype: int64)

In [32]:
players[ages.isna()]

Empty DataFrame
Columns: [name, club, age, position, position_cat, market_value, page_views, fpl_value, fpl_sel, fpl_points, region, nationality, new_foreign, age_cat, club_id, big_club, new_signing]
Index: []

In [33]:
players.isna()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
460,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
461,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
462,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
463,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
464,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [37]:
players[players.isna().values]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [38]:
players[players.isna().values].drop_duplicates()

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,NaN,2,NaN,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,NaN,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,NaN,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [39]:
players.fillna('something important').loc[[30,192,195]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,something important,2,something important,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,something important,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,something important,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0

In [41]:
players.fillna({
    'position':'RM',
    'market_value':100
}).loc[[30,192,195]]

,name,club,age,position,position_cat,market_value,page_views,fpl_value,fpl_sel,fpl_points,region,nationality,new_foreign,age_cat,club_id,big_club,new_signing
30,Granit Xhaka,Arsenal,24,RM,2,100.0,1815,5.5,2.00%,85,2,Switzerland,0,2,1,1,0
192,Steve Mounie,Huddersfield,22,CF,1,100.0,56,6.0,0.60%,0,2,Benin,0,2,8,0,0
195,Kasper Schmeichel,Leicester+City,30,GK,4,100.0,1601,5.0,2.40%,109,2,Denmark,0,4,9,0,0