In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:/Users/rajen/OneDrive/Desktop/webScraping/moneycontro_balancesheet_finolex_cables.csv")
df

,Unnamed: 0,Balance Sheet of Finolex Cables (in Rs. Cr.),Mar 22,Mar 21,Mar 20,Mar 19,Mar 18,
0,0,,12 mths,12 mths,12 mths,12 mths,12 mths,
1,1,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,
2,2,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN,
3,3,Equity Share Capital,30.59,30.59,30.59,30.59,30.59,
4,4,Total Share Capital,30.59,30.59,30.59,30.59,30.59,
...,...,...,...,...,...,...,...,...
60,60,Non-Current Investments Quoted Market Value,--,51.42,21.98,"2,093.00","2,699.98",
61,61,Non-Current Investments Unquoted Book Value,--,165.44,243.49,484.99,279.75,
62,62,CURRENT INVESTMENTS,NaN,NaN,NaN,NaN,NaN,
63,63,Current Investments Quoted Market Value,--,--,--,--,--,
64,64,Current Investments Unquoted Book Value,--,509.00,246.55,767.92,700.98,

In [23]:
ser = pd.read_csv("C:/Users/rajen/Data Analysis/moneycontro_balancesheet_finolex_cables 1.csv",usecols = ['Balance Sheet','21-Mar'], index_col = 'Balance Sheet')

In [24]:
ser

                                             21-Mar
Balance Sheet
                                                NaN
EQUITIES AND LIABILITIES                        NaN
SHAREHOLDER'S FUNDS                             NaN
Equity Share Capital                          30.59
Total Share Capital                           30.59
...                                             ...
Non-Current Investments Quoted Market Value   51.42
Non-Current Investments Unquoted Book Value  165.44
CURRENT INVESTMENTS                             NaN
Current Investments Quoted Market Value          --
Current Investments Unquoted Book Value         509

[65 rows x 1 columns]

In [25]:
s1 = ser.squeeze()

In [26]:
s1

Balance Sheet
                                                  NaN
EQUITIES AND LIABILITIES                          NaN
SHAREHOLDER'S FUNDS                               NaN
Equity Share Capital                            30.59
Total Share Capital                             30.59
                                                ...
Non-Current Investments Quoted Market Value     51.42
Non-Current Investments Unquoted Book Value    165.44
CURRENT INVESTMENTS                               NaN
Current Investments Quoted Market Value            --
Current Investments Unquoted Book Value           509
Name: 21-Mar, Length: 65, dtype: object

In [27]:
s2 = s1.loc[s1.notnull()]

In [28]:
s2.sort_values()

Balance Sheet
FOB Value Of Goods                                   --
Current Investments Quoted Market Value              --
Dividend Remittance In Foreign Currency              --
Stores, Spares And Loose Tools                        0
Capital Goods                                         0
Deferred Tax Assets [Net]                             0
Trade/Other Goods                                     0
Short Term Loans And Advances                         0
Raw Materials                                         0
Other Assets                                          0
Short Term Borrowings                                 0
Intangible Assets                                  0.21
Long Term Borrowings                               0.31
Long Term Provisions                              11.72
Expenditure In Foreign Currency                  130.09
Non-Current Investments Unquoted Book Value      165.44
Trade Payables                                   176.03
Trade Receivables                                176.55
Total Current Assets                           2,343.38
Total Reserves and Surplus                     2,920.12
Reserves and Surplus                           2,920.12
Total Shareholders Funds                       2,950.71
Capital Work-In-Progress                          25.71
Total Current Liabilities                        250.74
Contingent Liabilities                           277.97
Bonus Equity Share Capital                        29.21
Total Capital And Liabilities                  3,251.76
Total Assets                                   3,251.76
Equity Share Capital                              30.59
Total Share Capital                               30.59
Other Earnings                                    30.87
Deferred Tax Liabilities [Net]                     34.1
Tangible Assets                                  394.22
Other Long Term Liabilities                        4.18
Long Term Loans And Advances                       4.38
Fixed Assets                                     420.14
Non-Current Investments                           428.2
Total Non-Current Liabilities                     50.31
Current Investments                                 509
Current Investments Unquoted Book Value             509
Non-Current Investments Quoted Market Value       51.42
Cash And Cash Equivalents                         53.72
Other Non-Current Assets                          55.66
Short Term Provisions                              6.85
Other Current Liabilities                         67.86
Inventories                                       755.4
OtherCurrentAssets                               848.71
Total Non-Current Assets                         908.38
Name: 21-Mar, dtype: object

In [29]:
s2.describe()

count     48
unique    35
top        0
freq       8
Name: 21-Mar, dtype: object